<ul class="horizontal">
    <li><a (click)="home()"class="active" id="home" href="javascript:void(0)">Home</a></li>
    <li><a (click)="ingresar()" id="carga_de_datos" href="javascript:void(0)">Carga de datos</a></li>
    <li routerLink="/login" class="rightli" id="cerrar_sesion" style="float:right"><a href="javascript:void(0)">Cerrar sesión</a></li>
  </ul>
  <div *ngIf="ingreso" class="container">
     <p>Ingreso de peliculas</p>
  <input placeholder="Nombre" type="text" id="nombre_peli">
  <input placeholder="director" type="text" id="director">
  <input placeholder="duracion(en minutos)" type="number" id="duracion">
  <input placeholder="Fecha de lnzamiento" type="date" id="lanzamiento">
  <button id="boton" onclick="alert('enviado')">enviar</button>
  </div>
  <img *ngIf="casa" src="../../assets/perlicula.jpg" width="100%" height="100%">
 
